.card {
  width: 222.11px;
  height: 322.88px;
  display: inline-block;
  margin: 5px;
}

._as {
background-image: url(../img/ace_of_spades.svg);
}
._2c {
background-image: url(../img/2_of_clubs.svg);
}
._3h {
background-image: url(../img/3_of_hearts.svg);
}
._4d {
background-image: url(../img/4_of_diamonds.svg);
}
._5s {
background-image: url(../img/5_of_spades.svg);
}
._6c {
background-image: url(../img/6_of_clubs.svg);
}
._7h {
background-image: url(../img/7_of_hearts.svg);
}
._8d {
background-image: url(../img/8_of_diamonds.svg);
}
._9s {
background-image: url(../img/9_of_spades.svg);
}
._10c {
background-image: url(../img/10_of_clubs.svg);
}
._jh {
background-image: url(../img/jack_of_hearts2.svg);
}
._qd {
background-image: url(../img/queen_of_diamonds2.svg);
}
._ks {
background-image: url(../img/king_of_spades2.svg);
}
._ac {
background-image: url(../img/ace_of_clubs.svg);
}
._2h {
background-image: url(../img/2_of_hearts.svg);
}
._3d {
background-image: url(../img/3_of_diamonds.svg);
}
._4s {
background-image: url(../img/4_of_spades.svg);
}
._5c {
background-image: url(../img/5_of_clubs.svg);
}
._6h {
background-image: url(../img/6_of_hearts.svg);
}
._7d {
background-image: url(../img/7_of_diamonds.svg);
}
._8s {
background-image: url(../img/8_of_spades.svg);
}
._9c {
background-image: url(../img/9_of_clubs.svg);
}
._10h {
background-image: url(../img/10_of_hearts.svg);
}
._jd {
background-image: url(../img/jack_of_diamonds2.svg);
}
._qs {
background-image: url(../img/queen_of_spades2.svg);
}
._kc {
background-image: url(../img/king_of_clubs2.svg);
}
._ah {
background-image: url(../img/ace_of_hearts.svg);
}
._2d {
background-image: url(../img/2_of_diamonds.svg);
}
._3s {
background-image: url(../img/3_of_spades.svg);
}
._4c {
background-image: url(../img/4_of_clubs.svg);
}
._5h {
background-image: url(../img/5_of_hearts.svg);
}
._6d {
background-image: url(../img/6_of_diamonds.svg);
}
._7s {
background-image: url(../img/7_of_spades.svg);
}
._8c {
background-image: url(../img/8_of_clubs.svg);
}
._9h {
background-image: url(../img/9_of_hearts.svg);
}
._10d {
background-image: url(../img/10_of_diamonds.svg);
}
._js {
background-image: url(../img/jack_of_spades2.svg);
}
._qc {
background-image: url(../img/queen_of_clubs2.svg);
}
._kh {
background-image: url(../img/king_of_hearts2.svg);
}
._ad {
background-image: url(../img/ace_of_diamonds.svg);
}
._2s {
background-image: url(../img/2_of_spades.svg);
}
._3c {
background-image: url(../img/3_of_clubs.svg);
}
._4h {
background-image: url(../img/4_of_hearts.svg);
}
._5d {
background-image: url(../img/5_of_diamonds.svg);
}
._6s {
background-image: url(../img/6_of_spades.svg);
}
._7c {
background-image: url(../img/7_of_clubs.svg);
}
._8h {
background-image: url(../img/8_of_hearts.svg);
}
._9d {
background-image: url(../img/9_of_diamonds.svg);
}
._10s {
background-image: url(../img/10_of_spades.svg);
}
._jc {
background-image: url(../img/jack_of_clubs2.svg);
}
